# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backup de servidor old
backup de servidor old/assets/index-CZCfco0y.js
backup de servidor old/assets/index-WgrFxWUW.css
backup de servidor old/index.html
